*{
  box-sizing: border-box;
}
body{
  background-color: #dfdfdf;
  margin: 0;
}
.logs{
  width: 800px;
  background-color:#EAE2b7;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  padding: 20px;
}
/* 设置item的样式 */
.item{
  display:flex;
  background-color: #fcbf49;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  margin: 16px 0;
}